# Dependencies
node_modules/

# Environment Secrets (NEVER COMMIT THESE)
.env
*.env
.env.local

# Vercel deployment folder
.vercel

# Operating System Files
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*